body {
  text-align: center;
  background-color: #011F3F;
  margin: 8px;
}



#level-title {
  width: 90%;
  padding: 0px;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
  font-weight: bold;
  text-wrap:inherit
  
}

.container {
  display: flex;
  width: 50%;
  flex-flow: column;
  align-items: center;
  margin: auto;

}

.row{
  display: flex;
}

.bton {
  margin: 25px;
  display: inline-block;
  flex-shrink: 0;
  height: 200px;
  width: 200px;
  border: 9.6px solid black;
  padding: 0px;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


@media (width<=1100px){
.row{
  flex-flow: column;
}
}